#whitelist
/*
!/.gitignore
!/minecraft/
/minecraft/config/*
/minecraft/logs/*
!/minecraft/mods/
/minecraft/mods/*
!/minecraft/pack.toml
!/minecraft/index.toml
!/minecraft/mods/.index/
!/minecraft/mods/.index/*