# Whitelist mode - ignore everything by default
/*

# Allow essential files
!/.gitignore

# Allow minecraft directory
!/minecraft/

# Ignore everything in minecraft by default
/minecraft/*

!/minecraft/local/

# Allow essential configuration files
!/minecraft/pack.toml
!/minecraft/index.toml

# Allow specific config files
!/minecraft/config/
/minecraft/config/*
!/minecraft/config/mod-director/
!/minecraft/config/ProjectE/
/minecraft/config/ProjectE/*
!/minecraft/config/ProjectE/mapping.cfg
!/minecraft/config/ProjectE/ProjectE.cfg
!/minecraft/config/xaerohud.txt
!/minecraft/config/Universal Tweaks - Tweaks.cfg
!/minecraft/config/itemphysic-client.json
!/minecraft/config/itemphysic.json
!/minecraft/config/defaultworldgenerator-port/
!/minecraft/config/Knob Control/
/minecraft/config/Knob Control/*
!/minecraft/config/Knob Control/Main Config.cfg
!/minecraft/config/greenery/
/minecraft/config/greenery/*
!/minecraft/config/greenery/plants/
/minecraft/config/greenery/plants/*
!minecraft/config/greenery/plants/upland/
/minecraft/config/greenery/plants/upland/*
!minecraft/config/greenery/plants/upland/tall/
/minecraft/config/greenery/plants/upland/tall/*
!minecraft/config/greenery/plants/upland/tall/nettle.json
!/minecraft/config/xaero/
/minecraft/config/xaero/*
!/minecraft/config/xaero/minimap/
/minecraft/config/xaero/minimap/*
!/minecraft/config/xaero/minimap/profiles/
/minecraft/config/xaero/minimap/profiles/*
!minecraft/config/xaero/minimap/profiles/default.cfg
!/minecraft/config/xaero/minimap/profiles/entity_radar_categories/

!/minecraft/scripts/

# Allow bansoukou directory
!/minecraft/bansoukou/
!/minecraft/bansoukou/**

!/minecraft/oresources/
!/minecraft/oresources/**

# Allow mods directory and specific files
!/minecraft/mods/
/minecraft/mods/**
!/minecraft/mods/HymnOfHeroism.jar
!/minecraft/mods/.index/
!/minecraft/mods/.index/**

# Allow resourcepacks directory and specific files
!/minecraft/resourcepacks/
!/minecraft/resources/
/minecraft/resourcepacks/**
!/minecraft/resourcepacks/.index/
!/minecraft/resourcepacks/.index/**
!/minecraft/resourcepacks/Minecraft-Mod-Language-Modpack.zip
!/minecraft/resourcepacks/Xmm Icon
!/minecraft/resourcepacks/HymnOfHeroism

# Ignore logs and temporary files
/minecraft/logs/**
/minecraft/crafttweaker.log
/minecraft/usercache.json
/minecraft/PackWorkbench-1.0.2-all.jar

# Ignore saves and player data
/minecraft/saves/**
/minecraft/xaero
